<div class="styleseatpro container-fluid text-center p-5">
    <h2>Want to be a StyleSeat Pro?</h2>
    <div class="pt-2 pb-4">
        Our mission has always been to give talented Pros the tools they need to drive their <br>
        business and bring home the bacon while empowering them to do what they do best:<br>
         create looks, inspire confidence and make their clients feel fierce AF.
    </div>
    <a class="btn btn-dark pl-5 pr-5 rounded-0 " [routerLink]="['/signup']">SET UP YOUR BUSINESS </a>
</div>