<div class="container">
  <div id="accordion" class="p-5">
    <div class="card border-0 text-center pr-5 pl-5">
      <div class="card-header bg-white border-0" >
        
          <button id="headingOne" class="btn btn-link active"  (click)="showcollapse('collapseOne');"  aria-expanded="true" aria-controls="collapseOne">
            <img class="img-responsive" src="assets/icons/kisspng-forbes-logo-marketing-business-company-magazine-5aceb3267e5c01.8968743715234957185176.png" width="100" height="25" alt="">
         </button>
         <button id="headingTwo" class="btn btn-link collapsed"  (click)="showcollapse('collapseTwo');"  aria-expanded="false" aria-controls="collapseTwo">
            <img class="img-responsive" src="assets/icons/kisspng-new-york-city-logo-women-s-wear-daily-retail-fashi-fashion-technology-5ae01a2b403893.8530230615246362032631.png" width="100" height="20" alt="">
         </button>
         <button id="headingThree" class="btn btn-link collapsed"  (click)="showcollapse('collapseThree');"  aria-expanded="false" aria-controls="collapseThree">
            <img class="img-responsive" src="assets/icons/fortune-logo-png-transparent.png" width="100" height="20" alt="">
          </button>
          <button  id="headingFour" class="btn  collapsed"  (click)="showcollapse('collapseFour');"  aria-expanded="false" aria-controls="collapseFour">
            <h3 class="font-weight-bold text-black">TechCrunch</h3>
        </button>        
      </div>
      <div id="collapseOne" #collapseOne class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
            "An entire category of entrepreneurs are building businesses around simplifying and automating those tasks to allow creators more time on task with the creative acts they love. One of the leaders among those companies is StyleSeat."  
        </div>
      </div>
      <div id="collapseTwo" #collapseTwo class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
            "Today, the San Francisco-based beauty-service booking platform said it would acquire New York’s BeautyBooked, which is a discovery and booking service for high-end salons and spas that began in 2011."       
        </div>
      </div>
      <div id="collapseThree" #collapseThree class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
        <div class="card-body">
            "Beauty appointment booking service StyleSeat expands by buying a rival. StyleSeat, which helps independent hair stylists, manicurists, and masseuses schedule clients and manage their business, is buying rival booking startup BeautyBooked."        
        </div>
      </div>
      <div id="collapseFour" #collapseFour class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
        <div class="card-body">
          "In the late aughts, Melody McCloskey was working as a manager of online content at CurrentTV, a short-lived TV channel. But since 2011, McCloskey has been building her San Francisco-based company, StyleSeat, into a powerful player in the lucrative beauty and wellness industry."           
        </div>
      </div>
    </div>
    
  </div>
  
</div>   