

/* .font_size{
    font-weight: 600;
    line-height: 1.5;
    font-size: 1.25rem;
} */
.border-width-2{
    border-width: 2px !important   ;
}
a{
    text-decoration: none;
}
.swagger-bg{
    background: rgb(233, 227, 227);
} 