<div class="container-fluid pt-4 swagger-bg">
    <h1 class="text-center p-2">Step into your swagger</h1>
    <!-- d-xl-flex d-lg-flex d-md-inline-flex d-sm-inline-flex -->
   
    <div class="d-flex row row-cols-2 row-cols-md-5 row-cols-lg-5 flex-wrap justify-content-center pb-4">
             <div class="p-2 col" >
           <a [routerLink]="['/search']" > <img class="w-100" src="assets/images/virtual_hp.png"   alt=""></a>
            <div class="text-center p-2 border border-dark border-width-2
             bg-white">
                <a [routerLink]="['/search']" class="text-dark"> VIRTUAL & AT HOME</a>
                <!-- <h5 class=" text-center">VIRTUAL & AT HOME</h5> -->
            </div>
        </div>
        <div class="p-2 col" >
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/haircut.png" alt=""></a>
            <div class="text-center p-2 border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark"> HAIRCUT</a>
                <!-- <h5 class="card-title text-center">HAIRCUT</h5> -->
            </div>
        </div>
        <div class="p-2 col" >
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/barber_hp_tile.a947486bdd3cac7cb75a5dccd6d5c5c4.png" alt=""></a>
            <div class="text-center p-2  border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark">BARBER</a>
                <!-- <h5 class="card-title text-center">BARBER</h5> -->
            </div>
        </div>
        <div class="p-2 col">
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/braids_hp_tile.e62f658d271662fd1047c7ddc5ebce87.png" alt=""></a>
            <div class="text-center p-2 border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark"> BRAIDS</a>
                <!-- <h5 class="card-title text-center">BRAIDS</h5> -->
            </div>
        </div>
        <div class="p-2 col">
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/weav.png" alt=""></a>
            <div class="text-center p-2  border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark"> WEAV</a>
                <!-- <h5 class="card-title text-center">WEAV</h5> -->
             </div>
        </div>
        <div class="p-2 col col">
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/natural_hair.png" alt=""></a>
            <div class="text-center  p-2   border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark"> NATURAL HAIR</a>
                <!-- <h5 class="card-title text-center">NATURAL HAIR</h5> -->
             </div>
        </div>
        <div class="p-2 col">
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/nails.png" alt=""></a>
            <div class="text-center p-2 border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark"> NAILS</a>
                <!-- <h5 class="card-title text-center">NAILS</h5> -->
             </div>
        </div>
        <div class="p-2 col">
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/eyelashes.png" alt=""></a>
            <div class="text-center p-2  border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark"> EYELASHES</a>
                <!-- <h5 class="card-title text-center">EYELASHES</h5> -->
             </div>
        </div>
        <div class="p-2 col">
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/facial.png" alt=""></a>
            <div class="text-center p-2  border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark"> FACIAL</a>
                <!-- <h5 class="card-title text-center">FACIAL</h5> -->
             </div>
        </div>
        <div class="p-2 col ">
            <a [routerLink]="['/search']"><img class="w-100" src="assets/images/color.png" alt=""></a>
            <div class="text-center p-2  border border-dark border-width-2 bg-white">
                <a [routerLink]="['/search']" class="text-dark"> COLOR</a>
                <!-- <h5 class="card-title text-center">COLOR</h5> -->
             </div>
        </div>
       
    </div>
</div>
 

