<div class="container-fluid text-center p-5"> 
    <h1>Your in with the best stylists and barbers</h1>
    <div class="row">
        <div class="col-md-3">
            <a href="#" ><img src="assets/icons/icons8-commercial-80.png" alt="" ></a>
            <h6>DISCOVER TRENDS</h6>
            <div>Find your style with breakout beauty trends.</div>
        </div>
        <div class="col-md-3">
            <a href="#"><img src="assets/icons/icons8-star-of-bethlehem-80.png" alt=""></a>
            <h6>TOP PROFESSIONALS</h6>
            <div>Browse profiles, see ratings, reviews and photos of their work.</div>
        </div>
        <div class="col-md-3">
            <a href="#" ><img src="assets/icons/icons8-edit-calendar-80.png" alt="" ></a>
            <h6>SPECIAL REQUESTS</h6>
            <div>Don't see a timeslot or service you're looking for? Make a request.</div>
        </div>
        <div class="col-md-3 border border-dark">
            
               
                <a href="#" ><img src="assets/icons/icons8-topup-payment-50.png" alt="" style="width: 80px;"></a>
               
                <h6>CASHLESS PAYMENTS</h6>
                <div>Pay, tip and rebook all through the app — no wallet required.</div>
               
            
        </div>
    </div>
</div>