<div class="retry_search overflow-auto">
    <div  class="border border-light">
        <div > <small>StyleSeat>,CA>Haircut</small></div>
        <div><h6>Best Haircut in, CA</h6></div> 
    </div>  
    <a class="text-dark" [routerLink]="['/detail']"><div class="row border border-light">
        <div class="col-md-3 text-center "  >
            <img class="img_size" src="assets/listingimages/connie.JPG" alt="Card image cap" style="width: 10rem;">
        </div>
        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-8">
                    <div><h6>Connie Villafan</h6></div>
                    <div>Devine Hair/Connie Villafan</div>
                </div>
                <div class="col-md-4 ">
                    <div class="star_icon text-right">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        
                        <small>4.9 (98)</small>
                    </div>
                    <div class="text-right"> 6.8mi</div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6 pt-4">
                    <div>Hair Cut</div>
                    <div>60 Mins  $35</div>
                </div>
                <div class="col-md-6">
                    <div class="text-right pt-1"> Tuesday 9/1</div>
                    <div class="text-right">
                        <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm" >SEE ALL</button>
                        <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm">10:00 AM</button>
                    </div>
                </div>
            </div>
        </div>
    </div></a>
    <a class="text-dark" [routerLink]="['/detail']">
        <div class="row border border-light">
            <div class="col-md-3 text-center "  >
                <img class="img_size" src="assets/listingimages/darla.JPG" alt="Card image cap" style="width: 10rem;">
            </div>
            <div class="col-md-9">
                <div class="row p-2">
                    <div class="col-md-8">
                        <div><h6>Darla Glover</h6></div>
                        <div>Shyne Hair Studio</div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="star_icon text-right">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>5.0 (315)</small>
                        </div>
                        <div class="text-right"> 64mi</div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md-6 pt-4">
                        <div>Women's Cut</div>
                        <div>60 Mins  $5</div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm">CHECK AVAILABILITY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </a>
    <a class="text-dark" [routerLink]="['/detail']"><div class="row border border-light">
        <div class="col-md-3 text-center "  >
            <img class="img_size" src="assets/listingimages/aaliyah.JPG" alt="Card image cap" style="width: 10rem;">
        </div>
        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-8">
                    <div><h6>Aaliyah Hassan</h6></div>
                    <div>HairbyQueenaaliy</div>
                </div>
                <div class="col-md-4 ">
                    <div class="star_icon text-right">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <small>5.0(7)</small>
                    </div>
                    <div class="text-right"> 4.3mi</div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6 pt-4">
                    <div>Transitioning Cut</div>
                    <div>60 Mins  $45</div>
                </div>
                <div class="col-md-6">
                    <div class="text-right pt-1"> Tuesday 9/1</div>
                    <div class="text-right">
                        <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm" >SEE ALL</button>
                        <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm">10:00 AM</button>
                    </div>
                </div>
            </div>
        </div>
    </div></a>
     <a class="text-dark" [routerLink]="['/detail']">
        <div class="row border border-light">
            <div class="col-md-3 text-center "  >
                <img class="img_size" src="assets/listingimages/claire.JPG" alt="Card image cap" style="width: 10rem;">
            </div>
            <div class="col-md-9">
                <div class="row p-2">
                    <div class="col-md-8">
                        <div><h6>Claire Chang</h6></div>
                        <div>Claire Chang</div>
                    </div>
                    <div class="col-md-4 ">
                        <div class="star_icon text-right">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <small>5.0(181)</small>
                        </div>
                        <div class="text-right"> 6.4mi</div>
                    </div>
                </div>
                <div class="row p-2">
                    <div class="col-md-6 pt-4">
                        <div>Women's Haircut and style</div>
                        <div>60 Mins  $85</div>
                    </div>
                    <div class="col-md-6">
                        <div class="text-right">
                            <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm">CHECK AVAILABILITY</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </a>
   <a class="text-dark" [routerLink]="['/detail']">
    <div class="row border border-light">
        <div class="col-md-3 text-center "  >
            <img class="img_size" src="assets/listingimages/jassie.JPG" alt="Card image cap" style="width: 10rem;">
        </div>
        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-8">
                    <div><h6>Jessie Rae Baker-Swim</h6></div>
                    <div>Hot Nights Hair</div>
                </div>
                <div class="col-md-4 ">
                    <div class="star_icon text-right">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <small>5.0 (296)</small>
                    </div>
                    <div class="text-right"> 15.6mi</div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6 pt-4">
                    <div>Short Haircut</div>
                    <div>60 Mins  $60</div>
                </div>
                <div class="col-md-6">
                    <div class="text-right">
                        <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm">CHECK AVAILABILITY</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </a>
   <a class="text-dark" [routerLink]="['/detail']">
    <div class="row border border-light">
        <div class="col-md-3 text-center "  >
            <img class="img_size" src="assets/listingimages/amena.JPG" alt="Card image cap" style="width: 10rem;">
        </div>
        <div class="col-md-9">
            <div class="row p-2">
                <div class="col-md-8">
                    <div><h6>Amena BelledeSoleil</h6></div>
                    <div>A. BelledeSoleil Texture Atelier</div>
                </div>
                <div class="col-md-4 ">
                    <div class="star_icon text-right">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <small>4.9 (187)</small>
                    </div>
                    <div class="text-right"> 13.7mi</div>
                </div>
            </div>
            <div class="row p-2">
                <div class="col-md-6 pt-4">
                    <div>Women's Barber Cut</div>
                    <div>15 Mins  $85</div>
                </div>
                <div class="col-md-6">
                    <div class="text-right pt-1"> Tuesday 9/1</div>
                    <div class="text-right">
                        <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm" >SEE ALL</button>
                        <button type="button" class="btn border-dark btn_sty m-2 rounded-0 btn-sm">10:00 AM</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
   </a>
</div>